extends layout

block content
  h1= title
  p Welcome to #[em Inventory Application].

  h1 Dynamic content

  p The inventory tracker has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Copies:] !{item_instance_count}
    li #[strong Items available:] !{item_instance_available_count}
    li #[strong Categories:] !{category_count}
